p {
    text-align : center;
    font-size : 30px;
}

.container{
    width : 400px;
    height : 250px;
    display : flex;
    flex-direction :row;
    justify-content : center;
    align-items: start;
    padding : 20px;
}

main{
    display : flex;
    flex-direction :row;
    justify-content : center;
    align-items: start;
    gap : 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1em;   
}

span {
    font-size: 22px;
    font-family: 'Mochiy Pop P One', sans-serif;
}


h2 { 
    font-size: 1.5em;
    line-height: 5px;
    padding-top: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

h3 { 
    line-height: 5px;
    font-size: 1.5em;
    display: inline;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.game{
    display : flex;
    flex-direction :column;
    justify-content : center;
    align-items: center;
    gap : 20px;
}

.container1{
    width : 100%;
    height : 100px;
    display : flex;
    flex-direction :row;
    justify-content : center;
    align-items: center;
}

.socle{
    display : flex ; 
    flex-direction : row;
    justify-content: end;
    align-items : end;
    height : 250px;
    width : 200px;
    margin-right : -50px;
    margin-left : -90px;
}

.text{
    width :650px;
    height : 70px;
    background-color : rgb(178, 180, 73);
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    gap : 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.newgame{
    width : 55px;
    height : 47px;
    background-color : rgb(178, 180, 73);
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    gap : 10px;
}

.newgame input{
    padding : 7px;
    background-color : white;
    border:none;
    font-size : 15px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.text input{
    width : 30px;
    height : 30px;
    text-align :center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.divletter {
    background-color: white;
    padding: 7px;
    width: 30px;
    height: 45px;
    font-size: 2em;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
} 

.divvic {
    background-color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1em;
    text-align: center;
}

.divvic input {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1em;
    padding: 5px;
}

#letter {
    width: 30px; 
    font-family: 'Mochiy Pop P One', sans-serif;
}

#mainwrapper {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

a:hover {
    color: rgb(178, 180, 73);
}

header {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2em;
    padding: 5px ;
    background-color: rgb(178, 180, 73);
}

table {
    margin-top: 30px;
    padding: 10px ;
    background-color: rgb(178, 180, 73);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 22px;
}

table td {
    padding: 10px;
}

table input {
    font-family: 'Mochiy Pop P One', sans-serif;
    border: none;
    background-color: white;
    color: rgb(178, 180, 73);
}

table input:hover {
    background-color: rgb(178, 180, 73);
    color: white;
} 

#addiv {
    margin-top: 30px;
    color: white;
    padding: 10px;
    background-color: rgb(178, 180, 73);
    
}

#addiv input {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 22px;
}

#subwrapper {
    display: flex;
    justify-content: center;
}
